.loading{
    width: 130px;
    height: 130px;
    margin: 50px auto;
    position: relative;
    border-radius: 50%;
}
.dot{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 10px;
    height: 10px;
    margin-left: -5px;
    margin-top: -5px;
    perspective: 70px;
    transform-style: preserve-3d;
}
.dot::before {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    background-color: #fff;
    top: -100%;
    animation: moveBlack 2s infinite;
}
.dot::after {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    background-color: #fff;
    top: 100%;
    animation: moveWhite 2s infinite;
}

.dot-right::before {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    background-color: #000;
    top: -100%;
    animation: moveBlack 2s infinite;
}
.dot-right::after {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    background-color: #000;
    top: 100%;
    animation: moveWhite 2s infinite;
}

@keyframes moveWhite {
    0%{
        animation-timing-function: ease-in;
    }
    25%{
        transform: translate3d(0,-100%,-10px);
        animation-timing-function: ease-out;
    }
    50%{
        transform: translate3d(0,-200%,0);
        animation-timing-function: ease-in;
    }
    75%{
        transform: translate3d(0,-100%,10px);
        animation-timing-function: ease-out;
    }
}

@keyframes moveBlack {
    0%{
        animation-timing-function: ease-in;
    }
    25%{
        transform: translate3d(0,100%,10px);
        animation-timing-function: ease-out;
    }
    50%{
        transform: translate3d(0,200%,0);
        animation-timing-function: ease-in;
    }
    75%{
        transform: translate3d(0,100%,-10px);
        animation-timing-function: ease-out;
    }
}

.dot:nth-child(1){
    transform: rotate(10deg) translateY(-65px);
    &::before,&::after{
    animation-delay: calc(-2/36 * 6 * 1s);
    }
}
.dot:nth-child(2){
    transform: rotate(20deg) translateY(-65px);
    &::before,&::after{
    animation-delay: calc(-2/36 * 6 * 2s);
    }
}
.dot:nth-child(3) {
    transform: rotate(30deg) translateY(-65px);
    &::before,&::after{
    animation-delay: calc(-2/36 * 6 * 3s);
    }
}
.dot:nth-child(4) {
    transform: rotate(40deg) translateY(-65px);
    &::before,&::after{
    animation-delay: calc(-2/36 * 6 * 4s);
    }
}
.dot:nth-child(5) {
    transform: rotate(50deg) translateY(-65px);
    &::before,&::after{
    animation-delay: calc(-2/36 * 6 * 5s);
    }
}
.dot:nth-child(6) {
    transform: rotate(60deg) translateY(-65px);
    &::before,&::after{
    animation-delay: calc(-2/36 * 6 * 6s);
    }
}
.dot:nth-child(7) {
    transform: rotate(70deg) translateY(-65px);
    &::before,&::after{
    animation-delay: calc(-2/36 * 6 * 7s);
    }
}
.dot:nth-child(8) {
    transform: rotate(80deg) translateY(-65px);
    &::before,&::after{
    animation-delay: calc(-2/36 * 6 * 8s);
    }
}
.dot:nth-child(9) {
    transform: rotate(90deg) translateY(-65px);
    &::before,&::after{
    animation-delay: calc(-2/36 * 6 * 9s);
    }
}
.dot:nth-child(10) {
    transform: rotate(100deg) translateY(-65px);
    &::before,&::after{
    animation-delay: calc(-2/36 * 6 * 10s);
    }
}
.dot:nth-child(11) {
    transform: rotate(110deg) translateY(-65px);
    &::before,&::after{
    animation-delay: calc(-2/36 * 6 * 11s);
    }
}
.dot:nth-child(12) {
    transform: rotate(120deg) translateY(-65px);
    &::before,&::after{
    animation-delay: calc(-2/36 * 6 * 12s);
    }
}
.dot:nth-child(13) {
    transform: rotate(130deg) translateY(-65px);
    &::before,&::after{
    animation-delay: calc(-2/36 * 6 * 13s);
    }
}
.dot:nth-child(14) {
    transform: rotate(140deg) translateY(-65px);
    &::before,&::after{
    animation-delay: calc(-2/36 * 6 * 14s);
    }
}
.dot:nth-child(15) {
    transform: rotate(150deg) translateY(-65px);
    &::before,&::after{
    animation-delay: calc(-2/36 * 6 * 15s);
    }
}
.dot:nth-child(16) {
    transform: rotate(160deg) translateY(-65px);
    &::before,&::after{
    animation-delay: calc(-2/36 * 6 * 16s);
    }
}
.dot:nth-child(17) {
    transform: rotate(170deg) translateY(-65px);
    &::before,&::after{
    animation-delay: calc(-2/36 * 6 * 17s);
    }
}
.dot:nth-child(18) {
    transform: rotate(180deg) translateY(-65px);
    &::before,&::after{
    animation-delay: calc(-2/36 * 6 * 18s);
    }
}
.dot:nth-child(19) {
    transform: rotate(190deg) translateY(-65px);
    &::before,&::after{
    animation-delay: calc(-2/36 * 6 * 19s);
    }
}
.dot:nth-child(20) {
    transform: rotate(200deg) translateY(-65px);
    &::before,&::after{
    animation-delay: calc(-2/36 * 6 * 20s);
    }
}
.dot:nth-child(21) {
    transform: rotate(210deg) translateY(-65px);
    &::before,&::after{
    animation-delay: calc(-2/36 * 6 * 21s);
    }
}
.dot:nth-child(22) {
    transform: rotate(220deg) translateY(-65px);
    &::before,&::after{
    animation-delay: calc(-2/36 * 6 * 22s);
    }
}
.dot:nth-child(23) {
    transform: rotate(230deg) translateY(-65px);
    &::before,&::after{
    animation-delay: calc(-2/36 * 6 * 23s);
    }
}
.dot:nth-child(24) {
    transform: rotate(240deg) translateY(-65px);
    &::before,&::after{
    animation-delay: calc(-2/36 * 6 * 24s);
    }
}
.dot:nth-child(25) {
    transform: rotate(250deg) translateY(-65px);
    &::before,&::after{
    animation-delay: calc(-2/36 * 6 * 25s);
    }
}
.dot:nth-child(26) {
    transform: rotate(260deg) translateY(-65px);
    &::before,&::after{
    animation-delay: calc(-2/36 * 6 * 26s);
    }
}
.dot:nth-child(27) {
    transform: rotate(270deg) translateY(-65px);
    &::before,&::after{
    animation-delay: calc(-2/36 * 6 * 27s);
    }
}
.dot:nth-child(28) {
    transform: rotate(280deg) translateY(-65px);
    &::before,&::after{
    animation-delay: calc(-2/36 * 6 * 28s);
    }
}
.dot:nth-child(29) {
    transform: rotate(290deg) translateY(-65px);
    &::before,&::after{
    animation-delay: calc(-2/36 * 6 * 29s);
    }
}
.dot:nth-child(30) {
    transform: rotate(300deg) translateY(-65px);
    &::before,&::after{
    animation-delay: calc(-2/36 * 6 * 30s);
    }
}
.dot:nth-child(31) {
    transform: rotate(310deg) translateY(-65px);
    &::before,&::after{
    animation-delay: calc(-2/36 * 6 * 31s);
    }
}
.dot:nth-child(32) {
    transform: rotate(320deg) translateY(-65px);
    &::before,&::after{
    animation-delay: calc(-2/36 * 6 * 32s);
    }
}
.dot:nth-child(33) {
    transform: rotate(330deg) translateY(-65px);
    &::before,&::after{
    animation-delay: calc(-2/36 * 6 * 33s);
    }
}
.dot:nth-child(34) {
    transform: rotate(340deg) translateY(-65px);
    &::before,&::after{
    animation-delay: calc(-2/36 * 6 * 34s);
    }
}
.dot:nth-child(35) {
    transform: rotate(350deg) translateY(-65px);
    &::before,&::after{
    animation-delay: calc(-2/36 * 6 * 35s);
    }
}
.dot:nth-child(36) {
    transform: rotate(360deg) translateY(-65px);
    &::before,&::after{
    animation-delay: calc(-2/36 * 6 * 36s);
    }
}